h1 {
  font-family: Poiret One, cursive;
  border-bottom: solid 2px;
  background: #6AA80A
}

body {
  background: #011B5B;
}

section {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

div {
  color: #6AA80A
}

img {
  height: 200px;
  width: 225px;
  object-fit: cover;
  border: solid 2px;
  color: #6AA80A
}

@media screen and (max-width: 900px) {
  img {
    height: 106.25px;
    width: 100px;
    object-fit: cover;
    border: solid 1px
  }
}

@media screen and (max-width: 640px) {
  img {
    height: 15.625px;
    width: 25px;
    object-fit: cover;
    border: solid 0.5px
  }
}
