h1 {
  font-family: Montserrat, sans-serif;
  background: #6AA80A;
  align-items: center;
  justify-content: flex-start;
  align-content: flex-start;
  border: solid;
  border-color: #6AA80A;
  padding: 10px
}

body {
  background-image: url("https://images.pexels.com/photos/220177/pexels-photo-220177.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
}

section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.source {
  background-color: #6AA80A;
  color: black
}

img {
  height: 225px;
  width: 225px;
  object-fit: cover;
  border: solid 2px;
  color: #6AA80A
}

@media screen and (max-width: 1200px) {
  img {
    height: 125px;
    width: 125px;
    object-fit: cover;
    border: solid 1px
  }
  section {
    margin-left: 25px;
  }
}

@media screen and (max-width: 800px) {
  img {
    height: 55px;
    width: 50px;
    object-fit: cover;
    border: solid 0.5px
  }
  section {
    margin-left: 15px;
    padding: 5px
  }
}
